<div class="container">
  <div class="row justify-content-center">
    <div class="col-6">
      <h1>Add a new move for <%= @pokemon.name %></h1>
      <%= simple_form_for [@pokemon, @pokemon_move] do |f| %>
        <%= f.association :move, collection: Move.all, input_html: {  class: 'multiple-select', multiple: true }, include_hidden: false  %>
        <%= f.button :submit, class: 'btn btn-success btn-block' %>
      <% end %>
    </div>
  </div>
</div>
